<div ng-include="'components/navbar/navbar.html'"></div>
<div>
  <!-- Breadcrumbs - START -->
  <div class="breadcrumbs-container">
    <div class="container">
      <ol class="breadcrumb">
        <li><a ui-sref="main">Home</a></li>
        <li class="active">About us</li>
      </ol>
    </div>
  </div>
  <!-- Breadcrumbs - END -->
<!-- Component: aboutus/aboutus.html - START -->
<section ng-if="!profileView">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <p><img src="assets/images/Our People.jpg" alt="..."></p>
          <div class="blog-entry col-md-6 col-sm-6" ng-repeat="abt in about track by $index">
          <h1><span class="color-lead-darker" id="$index">{{abt.link}}</span></h1>
            <div ng-hide="showing">
              <p ng-bind-html="abt.desc" class=" color-lead-dark"></p>
              <button class="btn btn-primary pull-right" ng-click="showing=true"> Read more</button>
            </div>
            <br>
            <div ng-show="showing">
              <p ng-bind-html="abt.content" class=" color-lead-dark"></p>
              <button class="btn btn-primary pull-right" ng-click="showing=false"> Close Details</button>
            </div>

          </div>
          </div>
      </div>
    </div>      </div>
</section>



  <section ng-if="profileView">
    <div class="container">
      <div class="row">
        <h1><span class="color-lead-darker">{{user.fullname}}</span><button class="btn btn-info pull-right" ng-click="back()"><i class="fa fa-backward"></i> Back To Key Contacts</button></h1>
        <div class="col-md-4">
          <div class=" row">
            <p class="thumbnail gallery-thumbnail">
              <img style="border-radius:7%" src="{{user.image.toLowerCase()}}" alt="...">
            </p>
            <p class="color-lead-dark bold col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-offset-2">{{user.position}}</p>

            <p class=" col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-offset-2" ng-repeat=" c in user.contact track by $index">
              <i class="fa color-lead-dark " ng-class="{'fa-phone':c.type.toLowerCase() == 'phone','fa-envelope':c.type.toLowerCase() == 'email'}"></i> <span class="color-lead-dark">{{c.content}}</span>
            </p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="content">
            <div class="blog-entry">
              <p ng-bind-html="user.about_me" class=" color-lead-dark"></p>
            </div>
          </div>
        </div>
      </div>      </div>
  </section>
<!-- Component: aboutus/aboutus.html - END -->

<!-- Component: commons/this-is-us.html - START -->
<section id="us" ng-if="!profileView">
  <div class="container" >
    <div class="reduce-top-margin" >
      <h1><span class="color-lead-darker">Key Contacts</span></h1>
      <div class="row" >

        <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="profile in profiles">
          <a ng-click="getProfile(profile._id)" class="thumbnail gallery-thumbnail">
            <img style="border-radius: 7%; width: 100%" src="{{profile.image.toLowerCase()}}" alt="...">
          </a>
          <br>
          <p style="font-size: 85%; margin-bottom: 0px; " class="cursor bold text-center color-lead-dark" ng-click="getProfile(profile._id)">{{profile.fullname}}</p>
          <p style="font-size: 85%; " class="cursor text-center color-lead-dark" ng-click="getProfile(profile._id)">{{profile.position}}</p>
          <!--<p class="text-center color-lead-darker">{{getDescription(profile.about_me)}}</small></p>-->
        </div>


        <!--<div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="profile in profiles">-->
          <!--<a ui-sref="profile({id:'{{profile._id}}'})" class="thumbnail gallery-thumbnail">-->
            <!--<img class="img-circle" src="assets/images/avatar.jpg" alt="...">-->
          <!--</a>-->
          <!--<br>-->
          <!--<p style="font-size: 85%; " class=" bold text-center color-lead-dark">{{profile.fullname}}</p>-->
          <!--<p class="text-center color-lead-darker">{{getDescription(profile.about_me)}}</small></p>-->
        <!--</div>-->
      </div>
    </div>      </div>
</section>
<!-- Component: commons/this-is-us.html - END -->
</div>
<div ng-include="'components/footer/footer.html'"></div>
