
<div ng-include="'components/Admin/header.html'" ng-cloak></div>

<section ng-cloak>
  <div class="mainwrapper">

    <div ng-include="'components/Admin/leftpanel.html'"></div>
    <div class="mainpanel">
      <div class="pageheader">
        <div class="media">
          <div class="pageicon pull-left">
            <i class="fa fa-file-text-o"></i>
          </div>
          <div class="media-body">
            <ul class="breadcrumb">
              <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
              <li><a href="">Pages</a></li>
              <li>{{obj.name}}</li>
            </ul>
            <h4>Editing {{obj.name}}</h4>
          </div>
        </div><!-- media -->
      </div><!-- pageheader -->

      <div class="contentpanel">

        <!-- CONTENT GOES HERE -->
        <h4 class="lg-title">Edit Page Content</h4>
        <p><i class="fa fa-info-circle alert-danger"></i> Please note that anything modified in this <code class="bold">SECTION</code> Will lead to permanent changes, hence thread with caution.</p>
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Edit {{obj.name}}">

            <div class=" row col-sm-12 col-md-12 " ng-if="obj.url == 'our_services'" align="center">
              <button class="btn btn-info btn-lg" ng-click="openHeader()"><i class="fa fa-pencil-square"></i> Edit Services Header</button>
            </div>
            <div class="row mt10">
              <div class="col-sm-6 col-md-6" ng-repeat="data in Content track by data._id">
                <!--if page is our Firm or About us-->
                <div ng-if="obj.url == 'our_firm' || obj.url == 'about_us'" class="panel panel-info">
                  <div class="panel-heading">
                    <div class="panel-btns">
                      <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">{{data.link}}</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="aboutus">
                      <li>
                        <p ng-bind-html="data.content"></p>
                        <div class="pull-right" ng-if="$user.role == 'superAdmin'"><button ng-click="editor(data)" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Click To Edit</button></div>
                      </li>
                    </ul>

                  </div><!-- panel-body -->
                </div>
                <!--if page is Our services-->
                <div ng-hide="data.type" ng-if="obj.url == 'our_services'" class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="panel-btns">
                      <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">{{data.name}}</h3>
                  </div>
                  <div class="panel-body">
                    <ul class="aboutus">
                      <li ng-if="data.serviceContent.type != 'links'" ng-repeat="d in data.serviceContent.content track by $index">
                        <h5 class="text-success" ng-bind-html="d.header"></h5>
                        <p ng-bind-html="d.details"></p>
                        <div class="pull-right" ng-if="$user.role == 'superAdmin'"><button ng-click="editor(data.serviceContent,$index)" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Click To Edit</button></div>
                        <hr>
                      </li>
                      <li ng-if="data.serviceContent.type == 'links'" ng-repeat="d in data.serviceContent.content">
                        <p ng-bind-html="d"></p>
                        <div class="pull-right" ng-if="$user.role == 'superAdmin'"><button ng-click="editor(d)" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Click To Edit</button></div>
                      </li>
                    </ul>

                  </div><!-- panel-body -->
                </div>
                <!--if page is our Contact us-->
                <div ng-if="obj.url == 'contact_us'" class="panel panel-success">
                  <div class="panel-heading">
                    <div class="panel-btns">
                      <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">{{data.name}}</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <em ng-if="data.description" class="color-lead-dark" style="font-size: small"><span class="fa fa-info "></span>{{::data.description}}</em>
                      <p><span class="fa fa-home color-lead"></span>{{::data.address}}</p>
                      <!--<p><span class="fa fa-envelope color-lead"></span> contact@company.com</p>-->
                      <p ng-show="data.fax.length"><span class="fa fa-fax color-lead"></span><em ng-repeat="fax in data.fax"> {{::fax}}</em></p>
                      <p ng-show="data.telephone.length"><span class="fa fa-phone-square color-lead"></span><em  ng-class-even="{'color-orange':true}" ng-class-odd="{'color-lead':true}" ng-repeat="phone in data.telephone"> {{::phone}}</em></p>

                    </div>
                    <hr>
                    <div class="row">
                      <div class="caption background-white">
                        <h3>Business hours</h3>
                        <p ng-repeat="hours in data.workHours"><strong class="color-lead">{{::hours.day}}:</strong> {{::hours.hour}}</p>

                      </div>
                    </div>

                    <div class="pull-right" ng-if="$user.role == 'superAdmin'"><button ng-click="editorContact(data,$index)" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Click To Edit</button></div>
                  </div><!-- panel-body -->
                </div>
              </div><!-- col-sm-6 -->
            </div>
          </uib-tab>
          <uib-tab index="1" heading="Add & Delete {{obj.name}}">
            <div class="row mt10">
              <div class="col-md-6 col-md-offset-4" ng-if="$user.role == 'superAdmin'">
                <button class="btn btn-success" ng-click="editorAdd()"><i class="fa fa-plus-square"> Add New Content</i></button>
                <button class="btn btn-danger" ng-disabled="!ids.length" ng-click="delete()"><i class="fa fa-trash-o"> Delete Selected Content{{ids.length > 1 ? 's':''}}</i></button>
              </div>

            </div>
            <div class="row mt10">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="panel-btns">
                      <a href="" class="panel-minimize"><i class="fa fa-minus"></i></a>
                      <a href="" class="panel-close" ><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">List Of Content</h3>
                  </div>
                  <div class="panel-body">
                    <ul style="list-style-type:none!important;" class="media-list">
                      <li  class="media" ng-repeat="data in Content track by $index">
                        <div ng-if="obj.url == 'our_firm' || obj.url == 'about_us'" class="ckbox ckbox-primary pull-left">
                          <input type="checkbox" id="1{{data._id}}" ng-model="checkModel[data._id]" ng-change="pushAndPop(data._id)">
                          <label for="1{{data._id}}"></label>
                        </div>
                        <div ng-if="obj.url == 'our_firm' || obj.url == 'about_us'" class="media-body" ng-bind-html="data.link"></div>

                        <div ng-hide="data.type" class="cursor" ng-if="obj.url == 'our_services'" ng-click="openServiceContent($index)">
                          <div style="color:dodgerblue" class="pull-left">
                            <i class=" fa fa-edit"></i>
                          </div>

                          <div ng-hide="data.type" ng-if="obj.url == 'our_services'" class="media-body" ng-bind-html="data.name"></div>
                        </div>

                        <div ng-if="obj.url == 'contact_us'" class="ckbox ckbox-primary pull-left">
                          <input type="checkbox" id="3{{data._id}}" ng-model="checkModel[data._id]" ng-change="pushAndPop(data._id)">
                          <label for="3{{data._id}}"></label>
                        </div>
                        <div ng-if="obj.url == 'contact_us'" class="media-body" ng-bind-html="data.name"></div>
                      </li>

                      <!--<div class="pull-right"><button ng-click="editor(article)" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Click To Edit</button></div>-->
                    </ul>

                  </div><!-- panel-body -->
                </div><!-- panel -->
              </div>

            </div>
          </uib-tab>
        </uib-tabset>

      </div><!-- contentpanel -->

    </div>
  </div><!-- mainwrapper -->
</section>
