<div ng-include="'components/navbar/navbar.html'"></div>

<!-- Breadcrumbs - START -->
<div class="breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a ui-sref="main">Home</a></li>
      <li> <a style="cursor: pointer" ng-click="back()" ng-class="{active:CategoryView}">Services</a></li>
      <li ng-if="!CategoryView" class="active">{{service.name}}</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

<!-- Component: services/services.html - START -->
<section ng-if="CategoryView">
  <div class="container">
    <h1><span>Our Services</span></h1>
    <div class="row">
      <p class="col-md-12 col-xs-12 col-sm-12" ng-bind-html="intro.text"></p>
    </div>
    <div class="row">
      <p> Click on any of the category below to read more</p>
    </div>
    <div class="row">
      <div ng-if="!s.type" class="col-sm-4 col-md-3 col-xs-6 fx-zoom-up fx-speed-1000 fx-easing-quint" ng-repeat="s in services track by $index">
        <div class="info-thumbnail-link">
          <div class="thumbnail info-thumbnail background-clouds color-text">
            <div class="service">
              <div class="service-name"><h3>{{s.name}}</h3><button ng-click="ReadMore($index)" class="btn btn-service">Read more</button></div>
            </div>
            <img class="round" src="{{s.imageUrl}}" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Component: services/services.html - END -->



<!-- Component: servicesdetails.html - START -->
<section ng-if="!CategoryView"  class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group bright background-clouds color-text">
          <div class="list-group-item"><h3>{{service.name}}</h3></div>
          <a ng-if="service.serviceContent.type != 'links'" style="cursor: pointer" ng-click="setText($index)" ng-class="{active:inLine.id == $index}"  class="list-group-item" ng-repeat="s in service.serviceContent.content track by $index">
            {{s.header}}
          </a>
          <a ng-if="service.serviceContent.type == 'links'" style="cursor: pointer"  class="list-group-item active" >
            {{service.name}}
          </a>
        </div>
      </div>
      <div class="col-md-9">
        <div ng-if="service.serviceContent.type != 'links'" class="content">
          <h1><span>{{inLine.header}}</span></h1>
          <p ng-bind-html="inLine.details"></p>
        </div>
        <div ng-if="service.serviceContent.type == 'links'" class="content">
          <h1><span>{{service.name}}</span></h1>
          <a ng-repeat="li in service.serviceContent.content" href="http://{{li}}" ><i class="fa fa-link"></i>  {{li}}<br><br></a>
        </div>
      </div>
    </div>
    </div>
</section>
<!-- Component: servicesdetails.html - END -->

<div ng-include="'components/footer/footer.html'"></div>
