

<!-- Component: faq/faq.html - START -->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group bright background-clouds color-text">
          <div class="list-group-item"><h3>{{service.name}}</h3></div>
          <a style="cursor: pointer" ng-click="setText($index)" ng-class="{active:inLine.id == $index}"  class="list-group-item" ng-repeat="s in service.serviceContent.content track by $index">
           {{s.header}}
          </a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="content">
          <h1><span>{{inLine.header}}</span></h1>
          <p ng-bind-html="inLine.details"></p>
         </div>
    </div>      </div>
</section>
<!-- Component: faq/faq.html - END -->
