<div>


  <div id="nav-wrapper" class="background-white color-black">
    <div ng-include="'components/navbar/navbar.html'"></div>

    <!-- Responsive slider - START -->
    <div>
      <div uib-carousel active="active" interval="10000">
        <div style="height: 700px" uib-slide ng-repeat="slide in content.Highlight track by $index" index="$index">
          <img ng-src="{{slide.image}}" style='max-height: 100%;'>
          <div class="carousel-caption">
            <h4>{{slide.header}}</h4>
            <p ng-bind-html="slide.content"></p>
          </div>
        </div>
      </div>
      <!--<div class="slides-container" ng-style="{'background-image' : 'url(' + sliderImage + ')'}" data-group="slides" >-->
        <!--<ul>-->
          <!--<li ng-repeat="c in content.Highlight track by $index">-->
            <!--<div class="slide-body"  data-group="slide">-->
              <!--<div class="container">-->
                <!--<div class="wrapper">-->
                  <!--<div class="caption header" data-animate="slideAppearLeftToRight" data-delay="0" data-length="300">-->
                    <!--<h2>{{c.header}}</h2>-->
                    <!--<p class="sub text-left" data-animate="slideAppearRightToLeft" data-delay="{{delay * ($index+ 1)}}" data-length="300" ng-repeat="cont in c.content"><span>{{cont}}</span></p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<a class="slider-control left hidden-xs hidden-sm" href="index.html#" data-jump="prev"><i class="fa fa-angle-left"></i></a>-->
      <!--<a class="slider-control right hidden-xs hidden-sm" href="index.html#" data-jump="next"><i class="fa fa-angle-right"></i></a>-->
      <!--<div class="pages-wrapper backgrsound-black">-->
        <!--<ol class="pages">-->
          <!--<li ng-repeat="num in content.Highlight track by $index"><a data-jump-to="{{$index + 1}}">{{$index + 1}}</a></li>-->
        <!--</ol>-->
      <!--</div>-->
    </div>
    <!-- Responsive slider - END -->
    <!-- Component: index/info-thumbnails.html - START -->
    <section class="background-white color-black">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <h3 class="row center-block"><span class=" pull-left fa fa-newspaper-o color-lead-darker"></span><div class=" fancy background-lead-darker bold color-white pull-left">News & Publications</div></h3>
            <div ng-repeat="news in InfoTab.Highlight track by $index" >
              <ul>
                <li  class="cursor" ui-sref="article({id:'{{news.article}}'})">
                    <h5 class="color-lead-dark"><span class="color-lead "></span>{{news.header}}</h5>
                </li>
              </ul>

            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <h3 class="row center-block"><span class=" pull-left fa fa-list color-lead-darker"></span><div class=" fancy background-lead-darker bold color-white pull-left">Our Services</div></h3>
            <div ng-repeat="service in services track by $index" >
              <ul>
                <li ng-hide="service.type" class="cursor" >
                  <a ui-sref="our_services({name:'{{service._id}}'})" style=" border-bottom: 2px solid blue"><span class="color-lead"></span>{{service.name}}</a>
                </li>
              </ul>

            </div>
          </div>
          <div  class="col-sm-4 col-md-4">
            <a class="info-thumbnail-link" ui-sref="our_firm">
              <div class="thumbnail info-thumbnail">
                <div class="caption">
                  <h3 class="row center-block"><span class=" pull-left fa fa-users color-lead-darker"></span><div class=" fancy background-lead-darker bold color-white pull-left">{{ourfirm.link}}</div></h3>
                  <p class="description color-lead" ng-bind-html="ourfirm.desc"></p> <small class="btn btn-xs btn-info pull-right">Find Out More...</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Component: index/info-thumbnails.html - END -->

    <!-- Component: index/info-row.html - START -->
    <section class="background-belize-hole" data-control="class" data-class-prefix="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="info-row">
              <div class="content info ">
                <h1 class="info-head"><span class="color-white">{{about.mode}}</span></h1>
                <p class="color-white" ng-bind-html="about.content"></p>
              </div>
              <div class="content link">
                <a ui-sref="about_us" class="btn btn-lead btn-lg pull-right">Read more</a>
              </div>
            </div>
          </div>
        </div>      </div>
    </section>
    <!-- Component: index/info-row.html - END -->

    <!-- Component: index/info-thumbnails-alt1.html - START -->
    <section class="background-white color-lead-darker" data-control="class" data-class-prefix="">
      <div class="container">
        <h1 class="text-center x-large" style="font-weight: 400">Our Practice Area</h1>
        <div class="row">
          <div ng-if="!s.type && s.name != 'Useful Links'" class="col-sm-2 col-md-2" ng-repeat="s in services">

            <div class="info-thumbnail-link">
              <div class="color-lead bold">{{s.name}}</div>
              <div style="margin-top: 0px!important;" class="thumbnail info-thumbnail with-icon background-clouds color-text">
                <img src="{{s.imageUrl}}" alt="...">
                <div class="caption bordered background-white nopadding">
                  <p class="buttons"><a ui-sref="our_services({name:'{{s._id}}'})" class="btn btn-lead">Find Out More</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Component: index/info-thumbnails-alt1.html - END -->

  <div ng-include="'components/footer/footer.html'"></div>
</div>
</div>
