<div ng-include="'components/Admin/header.html'"></div>

<section>
  <div class="mainwrapper">

    <div ng-include="'components/Admin/leftpanel.html'"></div>
    <div class="mainpanel">
      <div class="pageheader">
        <div class="media">
          <div class="pageicon pull-left">
            <i class="fa fa-home"></i>
          </div>
          <div class="media-body">
            <ul class="breadcrumb">
              <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
              <li><a href="">Testimonials</a></li>
            </ul>
            <h4>user Testimonials</h4>
          </div>
        </div><!-- media -->
      </div><!-- pageheader -->

      <div class="contentpanel">
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Pending Testimonials">
            <div class="row mt20">
              <div class="col-md-5">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="panel-btns">
                      <a href="" class="panel-minimize"><i class="fa fa-minus"></i></a>
                      <a href="" class="panel-close" ><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">Pending Testimonials </h3>
                  </div>
                  <div class="panel-body">
                    <div ng-repeat="t in notApproved">
                      <p class="testimonial" ng-bind-html="t.testimony"></p>
                      <div class="row ">
                        <p class="pull-left ml10" style="font-size: x-small; font-style: italic">{{DateNow(t.dt_created)}}</p>
                        <p class="author pull-right">{{t.author}}</p>
                      </div>
                      <hr>
                      <a class=" btn btn-sm btn-success pull-right" ng-click="approveTestimonial(t)">Approve</a>
                    </div>

                  </div><!-- panel-body -->
                </div><!-- panel -->
              </div>
              <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="panel-btns">
                      <a href="" class="panel-minimize"><i class="fa fa-minus"></i></a>
                      <a href="" class="panel-close" ><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">Approved Testimonials </h3>
                  </div>
                  <div class="panel-body">
                    <div ng-repeat="t in approved">
                      <p class="testimonial" ng-bind-html="t.testimony"></p>
                      <div class="row ">
                        <p class="pull-left ml10" style="font-size: x-small; font-style: italic">{{DateNow(t.dt_created)}}</p>
                        <p class="author pull-right">{{t.author}}</p>
                      </div>
                      <hr>
                    </div>

                  </div><!-- panel-body -->
                </div><!-- panel -->
              </div>

            </div>
          </uib-tab>
          <uib-tab index="1" heading="Delete Testimonials">
            <div class="row mt10">
              <div class="col-md-6 col-md-offset-4" ng-if="$user.role == 'superAdmin'">
                <button class="btn btn-danger" ng-disabled="!ids.length" ng-click="delete()"><i class="fa fa-trash-o"> Delete Testimonial{{ids.length > 1 ? 's':''}}</i></button>
              </div>

            </div>
            <div class="row mt10">
              <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="panel-btns">
                      <a href="" class="panel-minimize"><i class="fa fa-minus"></i></a>
                      <a href="" class="panel-close" ><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">List Of Testimonials</h3>
                  </div>
                  <div class="panel-body">
                    <ul style="list-style-type:none!important;" class="media-list">
                      <li  class="media" ng-repeat="testimonial in testimonials track by $index">
                        <div class="ckbox ckbox-primary pull-left">
                          <input type="checkbox" id="{{testimonial._id}}" ng-model="checkModel[testimonial._id]" ng-change="pushAndPop(testimonial._id)">
                          <label for="{{testimonial._id}}"></label>
                        </div>
                        <div class="media-body" ng-bind-html="testimonial.testimony"></div>
                      </li>

                      <!--<div class="pull-right"><button ng-click="editor(article)" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Click To Edit</button></div>-->
                    </ul>

                  </div><!-- panel-body -->
                </div><!-- panel -->
              </div>

            </div>
          </uib-tab>
        </uib-tabset>

      </div><!-- contentpanel -->

    </div>
  </div><!-- mainwrapper -->
</section>
