<header  ng-controller="LeftPanelCtrl">
  <div class="headerwrapper">
    <div class="header-left">
      <a href="" class="logo" >
        <img src="assets/images/logo.png" alt="" style="height: 40px; padding-left: 20px"/>
      </a>
      <div class="pull-right">
        <a href="" class="menu-collapse" ng-click="isNavCollapsed = !isNavCollapsed">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div><!-- header-left -->

    <div class="header-right">

      <div class="pull-right">
        <div class="btn-group btn-group-list btn-group-messages" uib-dropdown is-open="messageCollapsed">
          <button id="single-button2" type="button" class="btn btn-default" uib-dropdown-toggle>
            <i class="fa fa-envelope-o"></i>
            <span class="badge">{{count.unread}}</span>
          </button>
          <div class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button2">
            <a href="" class="link-right"><i class="fa fa-plus"></i></a>
            <h5>New Messages</h5>
            <ul class="media-list dropdown-list">
              <li role="menuitem" class="media" ng-repeat="message in headerMessage track by $index">
                <span ng-if="message.read == false" class="badge badge-success">New</span>
                <img class="img-circle pull-left noti-thumb" src="assets/images/message.png" alt="">
                <div class="media-body">
                  <strong>{{message.name}}</strong>
                  <p>{{getHeading(message.content)}}</p>
                  <small class="date"><i class="fa fa-clock-o"></i>{{ago(message.dt_created)}}</small>
                </div>
              </li>
            </ul>
            <div class="dropdown-footer text-center">
              <a ui-sref="inbox" class="link">See All Messages</a>
            </div>
          </div><!-- dropdown-menu -->
        </div><!-- btn-group -->

        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
            <i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <!--<li role="menuitem"><a href="#"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>-->
            <li role="menuitem"><a ui-sref="accounts"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a class="cursor" ng-click="signOut()"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
          </ul>
        </div><!-- btn-group -->

      </div><!-- pull-right -->

    </div><!-- header-right -->

  </div><!-- headerwrapper -->
</header>
