<div ng-include="'components/Admin/header.html'" ng-cloak></div>

<section ng-cloak>
  <div class="mainwrapper">

    <div ng-include="'components/Admin/leftpanel.html'"></div>
    <div class="mainpanel">
      <div class="pageheader">
        <div class="media">
          <div class="pageicon pull-left">
            <i class="fa fa-home"></i>
          </div>
          <div class="media-body">
            <ul class="breadcrumb">
              <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
              <li><a href="">Messages</a></li>
            </ul>
            <h4>Inbox</h4>
          </div>
        </div><!-- media -->
      </div><!-- pageheader -->

      <div class="contentpanel">

        <!-- CONTENT GOES HERE -->
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-2">
            <a ng-if="$user.role == 'superAdmin'" href="" class="btn btn-success btn-block btn-create-msg" ng-click="createMessage()">Create Message</a>
            <br />
            <ul class="nav nav-pills nav-stacked nav-msg">
              <li class="active">
                <a ui-sref="inbox" ng-click="readMessage=false">
                  <span class="badge pull-right">{{count.unread}}</span>
                  <i class="glyphicon glyphicon-inbox"></i> Inbox
                </a>
              </li>
              <li><a href="#"><i class="glyphicon glyphicon-star"></i> Starred</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-send"></i> Sent Mail</a></li>
              <li>
                <a href="#">
                  <span class="badge pull-right">3</span>
                  <i class="glyphicon glyphicon-pencil"></i> Draft
                </a>
              </li>
              <li><a href="#"><i class="glyphicon glyphicon-trash"></i> Trash</a></li>
            </ul>


          </div>

          <div class="col-sm-9 col-md-9 col-lg-10">

            <div class="msg-header">
              <div class="pull-right">
                Showing {{nextPage+ 1}} - {{nextPage + 10}} of {{count.total}} messages
                <button class="btn btn-white btn-navi btn-navi-left ml5" type="button" ng-click="prevMails()"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-white btn-navi btn-navi-right" type="button" ng-click="nextMails()"><i class="fa fa-chevron-right"></i></button>

              </div>
              <div class="pull-left">
                <button class="btn btn-white" type="button" tooltip-placement="top" uib-tooltip="Archive"><i class="fa fa-hdd-o"></i></button>
                <button class="btn btn-white" type="button" tooltip-placement="top" uib-tooltip="Report Spam"><i class="fa fa-exclamation-circle"></i></button>
                <button class="btn btn-white " type="button" tooltip-placement="top" uib-tooltip="Delete"><i class="fa fa-trash-o"></i></button>

                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" tooltip-placement="top" uib-tooltip="Move To Folder">
                    <i class="fa fa-folder"></i>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#"><i class="fa fa-folder mr5"></i> Conference</a></li>
                    <li><a href="#"><i class="fa fa-folder mr5"></i> Newsletter</a></li>
                    <li><a href="#"><i class="fa fa-folder mr5"></i> Invitations</a></li>
                    <li><a href="#"><i class="fa fa-folder mr5"></i> Promotions</a></li>
                  </ul>
                </div>

                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" tooltip-placement="top" uib-tooltip="Label">
                    <i class="fa fa-tag"></i>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#"><i class="fa fa-tag mr5"></i> Web</a></li>
                    <li><a href="#"><i class="fa fa-tag mr5"></i> Photo</a></li>
                    <li><a href="#"><i class="fa fa-tag mr5"></i> Video</a></li>
                  </ul>
                </div>

              </div><!-- pull-right -->
            </div><!-- msg-header -->

            <div ng-show="readMessage">
              <h4 class="bold text-primary">{{singleMessage.subject}}</h4>

              <div class="panel-group panel-group-msg" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <span class="time text-muted pull-right" ng-bind="DateNow(singleMessage.dt_created)"></span>
                      <a>
                        <img src="assets/images/message2.png" class="img img-online img-circle mr5" alt="" >{{singleMessage.name}}
                        <small>&lt;{{singleMessage.email}}&gt;</small>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body" ng-bind-html="singleMessage.content">

                    </div>
                  </div>
                </div>

              </div><!-- panel-group -->

              <div class="media msg-reply">
                <a class="pull-left" href="#">
                  <img class="media-object img-circle img-online" src="assets/images/message2.png" alt="">
                </a>
                <div class="media-body">
                  <textarea class="form-control" placeholder="Click here to Reply" ng-model="toSend.reply"></textarea>
                  <button ng-if="$user.role == 'superAdmin'" class="btn btn-primary btn-sm mt10" ng-click="sendMessage()"><i class="fa fa-send mr5"></i> Send</button>
                </div>

              </div>

            </div>
            <ul ng-hide="readMessage" class="media-list msg-list">
              <li class="media" ng-repeat="message in messages track by $index">
                <div class="ckbox ckbox-primary pull-left">
                  <input type="checkbox" id="{{message._id}}">
                  <label for="{{message._id}}"></label>
                </div>
                <a class="pull-left" href="#">
                  <img class="media-object img-circle img-online" src="assets/images/message.png" alt="...">
                </a>
                <div class="media-body">
                  <div class="pull-right media-option">
                    <i ng-show="message.read" class="fa fa-check"></i>
                    <small ng-bind="DateNow(message.dt_created)"></small>

                  </div>
                  <h4 class="sender">{{message.name}} </h4>
                  <p ng-click="openMessage(message)" >
                    <em ng-show="message.read" class="subject" ng-bind-html="message.subject"></em>
                    <strong ng-hide="message.read" class="subject" ng-bind-html="message.subject"></strong>
                    <a class="cursor" ng-bind="getHeading(message.content)"></a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>


      </div><!-- contentpanel -->

    </div>
  </div><!-- mainwrapper -->
</section>
